<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test thread-count="5" name="Test1">
  <parameter name="browser" value="chrome"/>
    <classes>
      
      <class name="com.Hybridframework.testcases.TC_addcustomer_003"/>
    </classes>
  </test>
   
  
</suite> 
